<div class="forms-section">
  <div class="styleSection">
    <cdk-accordion class="example-accordion">
      <cdk-accordion-item
        #accordionItem="cdkAccordionItem"
        class="example-accordion-item"
        role="button"
        tabindex="0"
        [attr.aria-expanded]="accordionItem.expanded"
      >
        <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
          Styles
          <span class="example-accordion-item-description">
            Click to {{ accordionItem.expanded ? 'close' : 'open' }}
          </span>
        </div>
        <div
          class="example-accordion-item-body"
          role="region"
          [style.display]="accordionItem.expanded ? '' : 'none'"
        >
          <mat-card-title  *ngIf="isNoItemSelected">Please select item</mat-card-title>
          <ng-container *ngIf="currentElementFromStore">
            <form
              [formGroup]="form"
              class="form-style"
            >
              <ng-container
                *ngFor="let option of $any(currentElementFromStore) | keyvalue"
              >
                <mat-card-title
                  *ngIf="option.value  === namesElements.Button
                   || option.value  === namesElements.TextArea
                   || option.value  === namesElements.Input
                   || option.value  === namesElements.CheckBox
                   || option.value  === namesElements.Select"
                >
                  Element name: {{currentElementFromStore.name}}
                </mat-card-title>

                <mat-card-content>
                  <mat-form-field appearance="fill"
                    *ngIf="option.value === namesElements.Button
                     || option.value === namesElements.TextArea
                     || option.value === namesElements.Input
                     || option.value === namesElements.CheckBox
                     || option.value === namesElements.Select"
                  >
                    <mat-label>Width:{{currentElementFromStore.styles.width}}</mat-label>
                    <input
                      matInput
                      type="number"
                      placeholder="new width"
                      formControlName="width"
                      class="form-control"
                      (change)="submit(currentElementFromStore.id)"
                      required
                    >
                  </mat-form-field>
                  <mat-form-field appearance="fill"
                    *ngIf="option.value  === namesElements.Button
                     || option.value  === namesElements.TextArea
                     || option.value  === namesElements.Input
                     || option.value  === namesElements.CheckBox
                     || option.value  === namesElements.Select"
                    class="form-group mb-2"
                  >
                    <mat-label>Height: {{currentElementFromStore.styles.height}}</mat-label>
                    <input
                      matInput
                      class="form-control"
                      type="number"
                      placeholder="new height"
                      formControlName="height"
                      (change)="submit(currentElementFromStore.id)"
                      required
                    >
                  </mat-form-field>

                  <mat-form-field appearance="fill"
                    *ngIf="option.value  === namesElements.Button
                     || option.value  === namesElements.TextArea
                     || option.value  === namesElements.Input
                     || option.value  === namesElements.Select"
                    class="form-group mb-2"
                  >
                    <mat-label>Border width:</mat-label>
                    <mat-select
                      formControlName="borderWidth"
                      (selectionChange)="submit(currentElementFromStore.id)"
                    >
                      <mat-option [value]="'thin'" >thin</mat-option>
                      <mat-option [value]="'medium '">medium</mat-option>
                      <mat-option [value]="'thick '">thick</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill"
                    *ngIf="option.value  === namesElements.Button
                     || option.value  === namesElements.TextArea
                     || option.value  === namesElements.Input
                     || option.value  === namesElements.Select"
                    class="form-group mb-2"
                  >
                    <mat-label>Border style:</mat-label>
                    <mat-select formControlName="borderStyle" (selectionChange)="submit(currentElementFromStore.id)">
                      <mat-option [value]="'none '">none </mat-option>
                      <mat-option [value]="'dotted'">dotted</mat-option>
                      <mat-option [value]="'dashed'">dashed</mat-option>
                      <mat-option [value]="'solid  '">solid </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill"
                    *ngIf="option.value  === namesElements.Button
                     || option.value  === namesElements.TextArea
                     || option.value  === namesElements.Input
                     || option.value  === namesElements.Select"
                    class="form-group mb-2"
                  >
                    <mat-label>Border color:</mat-label>
                    <input
                      matInput
                      class="form-control"
                      type="color"
                      formControlName="borderColor"
                      (change)="submit(currentElementFromStore.id)"
                    >
                  </mat-form-field>

                  <mat-form-field appearance="fill"
                    *ngIf="option.value  === namesElements.Button
                     || option.value  === namesElements.TextArea
                     || option.value  === namesElements.Input
                     || option.value  === namesElements.CheckBox
                     || option.value  === namesElements.Select"
                  >
                    <mat-label>FontSize:{{currentElementFromStore?.styles?.fontSize}}</mat-label>
                    <mat-select formControlName="fontSize" (selectionChange)="submit(currentElementFromStore.id)">
                      <mat-option [value]="'8px'">8px</mat-option>
                      <mat-option [value]="'10px'">10px</mat-option>
                      <mat-option [value]="'12px'">12px</mat-option>
                      <mat-option [value]="'14px'">14px</mat-option>
                      <mat-option [value]="'16px'">16px</mat-option>
                      <mat-option [value]="'18px'">18px</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill"
                    *ngIf="option.value  === namesElements.Button
                     || option.value  === namesElements.TextArea
                     || option.value  === namesElements.Input
                     || option.value  === namesElements.CheckBox
                     || option.value  === namesElements.Select"
                  >
                    <mat-label>FontWeight</mat-label>
                    <mat-select formControlName="fontWeight" (selectionChange)="submit(currentElementFromStore.id)">
                      <mat-option [value]="'bold'">bold</mat-option>
                      <mat-option [value]="'normal'">normal</mat-option>
                      <mat-option [value]="'lighter'">lighter</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill"
                    *ngIf="option.value  === namesElements.TextArea
                     || option.value  === namesElements.Input"
                  >
                    <mat-label>Required</mat-label>
                    <mat-select formControlName="required" (selectionChange)="submit(currentElementFromStore.id)">
                      <mat-option [value]="'true'">true</mat-option>
                      <mat-option [value]="'false'">false</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill"
                    *ngIf="option.value  === namesElements.Button
                     || option.value  === namesElements.TextArea
                     || option.value  === namesElements.Input
                     || option.value  === namesElements.CheckBox
                     || option.value  === namesElements.Select"
                    class="form-group mb-2"
                  >
                    <mat-label>Color: {{currentElementFromStore?.styles?.color}}</mat-label>
                    <input
                      matInput
                      class="form-control"
                      type="color"
                      formControlName="color"
                      (change)="submit(currentElementFromStore.id)"
                    >
                  </mat-form-field>
                  <mat-form-field appearance="fill"
                    *ngIf="option.value  === namesElements.Button"
                    class="form-group mb-2"
                  >
                    <mat-label>BackgroundColor: {{currentElementFromStore?.styles?.backgroundColor}}</mat-label>
                    <input
                      matInput
                      class="form-control"
                      type="color"
                      formControlName="backgroundColor"
                      (change)="submit(currentElementFromStore.id)"
                    >
                  </mat-form-field>
                  <mat-form-field appearance="fill"
                    *ngIf="option.value  === namesElements.Button"
                    class="form-group mb-2"
                  >
                    <mat-label>Value: {{currentElementFromStore?.styles?.value}}</mat-label>
                    <input
                      matInput
                      class="form-control"
                      type="text"
                      placeholder="new value"
                      formControlName="value"
                      (change)="submit(currentElementFromStore.id)"
                    >
                  </mat-form-field>
                  <mat-form-field appearance="fill"
                    *ngIf="option.value  === namesElements.TextArea || option.value  === namesElements.Input "
                    class="form-group mb-2"
                  >
                    <mat-label>placeholder: {{currentElementFromStore?.styles?.placeholder}}</mat-label>
                    <input
                      matInput
                      class="form-control"
                      type="text"
                      placeholder="new placeholder"
                      formControlName="placeholder"
                      (change)="submit(currentElementFromStore.id)"
                    >
                  </mat-form-field>
                </mat-card-content>
              </ng-container>
              <div class="form-group" *ngIf="!isNoItemSelected">
                <button
                  mat-button color="warn"
                  type="button"
                  (click)="removeElement(currentElementFromStore.id)"
                >
                  Delete element
                </button>
              </div>
            </form>
          </ng-container>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
  </div>

  <div class="section-group" cdkDropListGroup>
    <div
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListData]="elementForDrop"
      class="dropSection"
    >
      <mat-card>
        <mat-card-title>Form</mat-card-title>
        <ng-container class="drop-item" *ngFor="let element of elementForDrop" [ngSwitch]="element.name" >
          <div cdkDrag class="drop-item"  *ngSwitchCase="'textarea'">
            <textarea
              *ngSwitchCase="'textarea'"
              [ngStyle]="element.styles"
              class="restrictionsWidthHeight"
              [placeholder]="element.styles.placeholder"
              (click)="onSelect(element)"
            ></textarea>
          </div>
          <div cdkDrag class="drop-item"  *ngSwitchCase="'button'">
            <button
              [ngStyle]="element.styles"
              (click)="onSelect(element)"
              class="restrictionsWidthHeight"
            >{{element.styles.value}}</button>
          </div>
          <div cdkDrag class="drop-item"  *ngSwitchCase="'input'">
            <input
              class="drag-item restrictionsWidthHeight"
              type="text"
              [placeholder]="element.styles.placeholder"
              [ngStyle]="element.styles"
              [style]="{maxHeight: '200px', maxWidth: '400px'}"
              (click)="onSelect(element)"
            >
          </div>
          <div cdkDrag class="drop-item"  *ngSwitchCase="'checkbox'">
            <div
              [ngStyle]="element.styles"
              class="checkbox-element restrictionsWidthHeight"
              (click)="onSelect(element)"
            >
              <input  type="checkbox" [id]="element.id" name="interest" [value]="element.styles.value">
              <label [for]="element.id">Choose your destiny</label>
            </div>
          </div>
          <div cdkDrag class="drop-item"  *ngSwitchCase="'select'">
            <select
              class="drag-item restrictionsWidthHeight"
              (click)="onSelect(element)"
              [ngStyle]="element.styles"
              style="padding: 0"
            >
              <option value="option">Option</option>
              <option value="option">Option2</option>
            </select>
          </div>

        </ng-container>
      </mat-card>
    </div>

    <div
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListData]="dragElement"
      [cdkDropListEnterPredicate]="noReturnPredicate"
      class="dragSection"
    >
      <div
        cdkDrag
        class="drag-item"
        *ngFor="let element of dragElement"
      >
        {{element.name}}
      </div>
    </div>

  </div>

</div>
