<nav class="navbar navbar-expanf-lg navbar-dark bg-dark">
  <a routerLink="/formBuilder" class="navbar-brand">Form Builder</a>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/formBuilder" routerLinkActive="active">Form builder</a>
    </li>
  </ul>
  <ul class="nav">
    <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
    <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
    <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>
  </ul>

</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
